{% extends 'include/base.html' %}
{% load static %}
{% block body_content %}
<!-- Header Section-->
<section class="dashboard-header">

<!--<div class="costest">
<div class="container">
<div class="add_category mb-3">
                <h4 class="add_name">Employee</h4>

            </div>

<div class="searchox">
		<i class="fas fa-search"></i>
		<input type="text" class="form-control" placeholder="Search Directory">

		</div>


            </div>

        </div>
		<div class="tab-fillter">
		<div class="task-search">
		<i class="fas fa-search"></i>
		<input type="text" class="form-control" placeholder="Search Directory">

		</div>

		<span ><i class="fas fa-filter fa-2x"></i></span>
		</div>
		-->
<div class="mt-1">
    <div class="container">

		<div class="create-box">
		<h2 class="task">Task Management <a href="" data-toggle="modal" data-target="#exampleModal"  class="btn text-uppercase btn-success btn-rounded">Add Task</a></h2>


	<div class="task-table reviews">
		<table id="example" class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>Stage</th>
                            <th>Priority</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Assigned To</th>


                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in get_task_data%}
                        <tr>
                            <td>
                                <b><a href="#">{{data.task_name}}</a></b>
                            </td>
                            <td>Todo</td>
                            <td><button class="btn btn-dark">{{data.priority}}</button></td>
                            <td><span class="color-green">{{data.start_date}}</span></td>
                            <td><span class="color-green">{{data.end_date}}</span></td>
                            <td><a class="table-img upper" href="#" data-toggle="tooltip" data-placement="top" title="Tooltip on top"><img src="assets/images/avatar-8.jpg"></a>

							<a class="table-img" href="#" data-toggle="tooltip" data-placement="top" title="Tooltip on top"><img src="assets/images/avatar-9.jpg"></a>
							</td>


                            <td align="center">
                                <a href="task-edit.php" class="atach"><i class="fas fa-eye"></i> </a>

								<a href="#" data-toggle="modal" data-target="#editModal" class="atach color-green"><i class="fas fa-pencil-alt"></i> </a>
                            </td>
                        </tr>

						{% endfor %}

                    </tbody>
                </table>

		</div>

		</div>

    </div>
	</div>
</section>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-body">
	  <h5>Add Task In Todo <button type="button" class="close close-rounded" data-dismiss="modal" aria-label="Close">
        <i class="fas fa-times-circle"></i>
        </button></h5>

		<div class="form-project">
		<div class="form-group">
		<label>Task name</label>
		<input type="text" class="form-control" />
		</div>

		<div class="form-group">
		<label>Description</label>
		<textarea id="summernote"></textarea>
		</div>

		<div class="row">

		<div class="col-md-6">
		<div class="form-project">
		<div class="form-group">
		<label>Estimated Hours</label>
	 <input class="form-control" type="text" placeholder="HH:MM" />
		</div>
		</div>
		</div>

		<div class="col-md-6">
		<div class="form-project">
		<div class="form-group">
		<label>Priority</label>
	<select class="form-control">
	<option>Critical</option>
	<option>High</option>
	<option>Medium</option>
	<option>Low</option>

	</select>
		</div>
		</div>
		</div>


		<div class="col-md-6">
		<div class="form-project">
		<div class="form-group">
		<label>Project</label>
	<select class="form-control">
	<option>No Project</option>
	<option>Project 1</option>
	<option>Project 2</option>
	<option>Project 3</option>

	</select>
		</div>
		</div>
		</div>

		<div class="col-md-6">
		<div class="form-project">
		<div class="form-group">
		<label>Start Date</label>
		<div id="datepicker" class="date date-icon" data-date-format="mm-dd-yyyy">
    <input class="form-control" type="text" />
    <span class="input-group-addon"><i class="glyphicon fas fa-calendar-plus"></i></span>
</div>

		</div>
		</div>
		</div>

		<div class="col-md-6">
		<div class="form-project">
		<div class="form-group">
		<label>End Date</label>
		<div id="enddate" class="date date-icon" data-date-format="mm-dd-yyyy">
    <input class="form-control" type="text" />
    <span class="input-group-addon"><i class="glyphicon fas fa-calendar-plus"></i></span>
</div>
		</div>
		</div>
		</div>

		<div class="col-md-6">
		<div class="form-group dddx">
		<label>Attach Task File</label>
		<input type="file" class="form-control" />
		</div>
		</div>




		<div class="col-md-12">
		<div class="form-group">
		<h5>Task members</h5>

		</div>
		</div>
		<div class="col-md-12"><label>Add Members</label></div>
		<div class="col-md-9">
		<div class="form-group dddx">

		<select class="form-control" id="multiple-checkboxes12" multiple >
		<option>Select Member 1</option>
		<option>Select Member 2</option>
		<option>Select Member 3</option>
		</select>
		</div>
		</div>

		<div class="col-md-3">
		<div class="form-group">
		<button class="btn btn-success text-uppercase btn-rounded add-height btn-block">Add Member</button>
		</div>
		</div>


		<div class="col-md-6">
		<div class="form-group">
		<div class="assignto form-control">
		<div class="assign-avitar">
		<img src="assets/images/avatar-1.jpg" alt=""/>
		</div>
		<div class="assign-left">
		<div class="assign-av">
		<h6>John Smith</h6>
		<p>johnsmith@gmail.com</p>
		</div>
		<div class="assign-right">
		<button class="btn btn-danger" data-toggle="tooltip" title="Remove"><i class="fas fa-minus"></i></button>
		</div>
		</div>


		</div>
		</div>
		</div>

		<div class="col-md-6">
		<div class="form-group">
		<div class="assignto form-control">
		<div class="assign-avitar">
		<img src="assets/images/avatar-1.jpg" alt=""/>
		</div>
		<div class="assign-left">
		<div class="assign-av">
		<h>Owner</h6>
		<p>owner@gmail.com</p>
		</div>
		<div class="assign-right">
		<button class="btn btn-danger" data-toggle="tooltip" title="Remove"><i class="fas fa-minus"></i></button>
		</div>
		</div>


		</div>
		</div>
		</div>

		<div class="col-md-12">
		<button class="btn text-uppercase btn-success btn-rounded" onclick="location.href='task-edit.php'">Save</button>
		</div>


		</div>

      </div>

    </div>
  </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <div class="modal-body">
	  <h5>Edit Task In Todo <button type="button" class="close close-rounded" data-dismiss="modal" aria-label="Close">
        <i class="fas fa-times-circle"></i>
        </button></h5>

		<div class="form-project">
		<div class="form-group">
		<label>Task name</label>
		<input type="text" class="form-control" />
		</div>

		<div class="form-group">
		<label>Description</label>
		<textarea id="summernote"></textarea>
		</div>

		<div class="row">

		<div class="col-md-6">
		<div class="form-project">
		<div class="form-group">
		<label>Estimated Hours</label>
	 <input class="form-control" type="text" placeholder="HH:MM" />
		</div>
		</div>
		</div>

		<div class="col-md-6">
		<div class="form-project">
		<div class="form-group">
		<label>Priority</label>
	<select class="form-control">
	<option>Critical</option>
	<option>High</option>
	<option>Medium</option>
	<option>Low</option>

	</select>
		</div>
		</div>
		</div>


		<div class="col-md-6">
		<div class="form-project">
		<div class="form-group">
		<label>Project</label>
	<select class="form-control">
	<option>No Project</option>
	<option>Project 1</option>
	<option>Project 2</option>
	<option>Project 3</option>

	</select>
		</div>
		</div>
		</div>

		<div class="col-md-6">
		<div class="form-project">
		<div class="form-group">
		<label>Start Date</label>
		<div id="datepicker" class="date date-icon" data-date-format="mm-dd-yyyy">
    <input class="form-control" type="text" />
    <span class="input-group-addon"><i class="glyphicon fas fa-calendar-plus"></i></span>
</div>

		</div>
		</div>
		</div>

		<div class="col-md-6">
		<div class="form-project">
		<div class="form-group">
		<label>End Date</label>
		<div id="enddate" class="date date-icon" data-date-format="mm-dd-yyyy">
    <input class="form-control" type="text" />
    <span class="input-group-addon"><i class="glyphicon fas fa-calendar-plus"></i></span>
</div>
		</div>
		</div>
		</div>

		<div class="col-md-6">
		<div class="form-group dddx">
		<label>Attach Task File</label>
		<input type="file" class="form-control" />
		</div>
		</div>




		<div class="col-md-12">
		<div class="form-group">
		<h5>Task members</h5>

		</div>
		</div>
		<div class="col-md-12"><label>Add Members</label></div>
		<div class="col-md-9">
		<div class="form-group dddx">

		<select class="form-control" id="multiple-checkboxes123" multiple >
		<option>Select Member 1</option>
		<option>Select Member 2</option>
		<option>Select Member 3</option>
		</select>
		</div>
		</div>

		<div class="col-md-3">
		<div class="form-group">
		<button class="btn btn-success text-uppercase btn-rounded add-height btn-block">Add Member</button>
		</div>
		</div>


		<div class="col-md-6">
		<div class="form-group">
		<div class="assignto form-control">
		<div class="assign-avitar">
		<img src="assets/images/avatar-1.jpg" alt=""/>
		</div>
		<div class="assign-left">
		<div class="assign-av">
		<h6>John Smith</h6>
		<p>johnsmith@gmail.com</p>
		</div>
		<div class="assign-right">
		<button class="btn btn-danger" data-toggle="tooltip" title="Remove"><i class="fas fa-minus"></i></button>
		</div>
		</div>


		</div>
		</div>
		</div>

		<div class="col-md-6">
		<div class="form-group">
		<div class="assignto form-control">
		<div class="assign-avitar">
		<img src="assets/images/avatar-1.jpg" alt=""/>
		</div>
		<div class="assign-left">
		<div class="assign-av">
		<h>Owner</h6>
		<p>owner@gmail.com</p>
		</div>
		<div class="assign-right">
		<button class="btn btn-danger" data-toggle="tooltip" title="Remove"><i class="fas fa-minus"></i></button>
		</div>
		</div>


		</div>
		</div>
		</div>

		<div class="col-md-12">
		<button class="btn text-uppercase btn-success btn-rounded" onclick="location.href='task-edit.php'">Save</button>
		</div>


		</div>

      </div>

    </div>
  </div>
</div>
</div>


{% endblock %}